* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

 body{
    margin: 0;
}

 /* popup */
.popup-background{
    width: 100vw;
    height: 100vh;     
    background-color: rgba(0, 0, 0, 0.63);
    position: absolute;
    display: flex;
}

.popup{
    background-color: #fff;
    margin: auto;
}

.popup > .header{
    border-bottom: 1px solid #ccc;
}

.popup > .body{
    padding: 12px;
}

.popup > .footer{
    padding: 6px 0;
    text-align: center;
}
 /* end popup */

.container {
    padding: 20px;
}

 .header{
     /* background-color: rgb(241, 241, 241); */
     padding: 12px;
 }
  
input[type=text], select, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    resize: vertical;
}
  
label {
    padding: 6px 6px 6px 0;
    display: inline-block;
}

input[type=text], select, textarea, label{
    font-family: Arial, sans-serif;
}
  
button {
    background-color: rgb(59, 162, 221);
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
}
  
button:hover {
    background-color: rgb(34, 143, 206);
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    padding: 0 2px;
}
  
.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 0 2px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    padding: 0 2px;
}

.col-100 {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding: 0 2px;
    overflow-x: overlay;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 12px;
}

table td, table th {
    border: 1px solid rgb(218, 216, 216);
    padding: 8px;
}

table tr{background-color: #fff;}

table tr:hover {background-color: rgb(250, 249, 249);}

table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: rgb(59, 162, 221);
    color: white;
}

.hidden{
    display: none;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-50, .col-75, .col-100, input[type=submit] {
        width: 100%;
        margin-top: 2px;
    }
}